@import "tailwindcss";

* {
  cursor:
    url("/assets/ratoesquerdo.png") 32 32,
    auto;
}

*:active {
  cursor:
    url("/assets/ratoonclick.png") 32 32,
    auto;
}

.pixel-border {
  image-rendering: pixelated;
  border: 4px solid #d7d7d7;
  box-shadow:
    inset -4px -4px 0px #00000080,
    inset 4px 4px 0px #ffffff30;
}
